:root {
    --iitc-border-color: #ad1ba5;
    --iitc-border-color_hi: #b002b0;
    --iitc-bg-color: #252222ff;
    --iitc-bg-color-trans: rgba(37, 34, 34, 0.9);
    --iitc-bg-color-trans2: rgba(37, 34, 34,0.8);
    --iitc-bg-color-hi: #353030ff;
    --iitc-text: #f0f0f0ff;
    --iitc-text-highlit: #FFCE00;
    --iitc-button-bg: rgba(72, 42, 72, 0.9);
}

